<div style="align-items: center;" style="text-align: center;" class="formback">
  <h1 style="color: blue;">Register form </h1>
  <form style="height: auto;" class="boder" >


  <mat-form-field appearance = "fill">
   First Name : <input matInput/>
   <span>string should have one capital letter in starting and with no black or numeric value in first character </span>
  </mat-form-field>
  <mat-form-field appearance = "fill">
   Last Name :  <input matInput/>
  </mat-form-field><br>
<mat-form-field appearance = "fill">
  Gender: <input matInput/>
  </mat-form-field><br>
<mat-form-field appearance = "fill">
  Date_of_Birth :<input matInput [matDatepicker]= "myDatePicker"> 
  <mat-datepicker-toggle [for] ="myDatePicker" matSuffix></mat-datepicker-toggle>
<mat-datepicker #myDatePicker></mat-datepicker>
  </mat-form-field>
<mat-form-field appearance="fill">
  Age : <input matInput />
</mat-form-field><br>

<mat-form-field appearance = "fill">
  Address_line 1 : <input matInput/>
</mat-form-field>
<mat-form-field appearance ="fill">
  Address_line 2 : <input matInput/>
</mat-form-field><br>

<mat-form-field appearance ="fill">
  phone Number : <input matInput/>
</mat-form-field>


<mat-form-field appearance ="fill">
  PinCode :  <>{this.Pincode}<>
</mat-form-field><br>
<mat-form-field appearance ="fill">
  State : <>{this.State}<>
</mat-form-field>
<mat-form-field appearance ="fill">
  District : <input matInput/>
</mat-form-field><br>
  
<button class="button" >upload photo</button><br>
<br>
<button style="color: rgb(255, 0, 0);">Submit</button>
  </form>
  </div>